.logo_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}
.ship_add_container {
  padding: 0px 10px;
}
.amount_container {
  padding: 6px 10px;
}
.billItems_container {
  display: flex;
  justify-content: space-between;
}
.single_line_cell {
  white-space: nowrap;
}
.net_price {
  text-align: center;
}
.custom-table-container .ant-table-cell {
  padding: 4px !important; /* Adjust padding as needed */
  margin: 0 !important;
}
.invice_heading_container {
  padding: 6px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.invoice_date {
  display: flex;
  justify-content: end;
}
.invice_heading {
  color: red;
  font-weight: bold;
  font-size: large;
}
